*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(198, 197, 197);
    width: 100vw;
    height: 100vh;
}

.color-container{
    background-color: bisque;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 2rem;
    text-transform: uppercase;
}
nav u li:last-child{
    margin-right: 1rem;
}

nav a{
    color: rgb(249, 26, 26);
    font-size: 1,5rem;
    font-family: 'Times New Roman', Times, serif;

}